# Dependencies
node_modules

# Build output
dist

# Environment
.env
.env.local
.env.*.local

# Test files
coverage
**/__tests__
**/*.test.ts
**/*.spec.ts

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore

# Misc
*.tsbuildinfo
